<!-- ABOUT COMP -->
<div class="about-st" >
<div class="about-comp out">
    <div class="customer-page__title " >
        О компании
    </div>
    <div class="about-factory">
        <div class="sub-info">
            <div class="sub-line"></div>
            <h5 class="sub-title" >Обувная <br> фабрика <br> Faber</h5>
        </div>
        
        <div class="about-factory__cards">
            <div class="about-factory__cards_card">
                <img src="img/p1.png" alt="">
                <div>
                    <p>Украинская кожаная обувь</p>
                </div>
            </div>
            <div class="about-factory__cards_card">
                <img src="img/desc.png" alt="">
                <div>
                    <p><span>21</span> лет на рынке </p>
                </div>
            </div>
            <div class="about-factory__cards_card">
                <img src="img/man.png" alt="">
                <div>
                    <p>Более <span>500</span> созданных моделей</p>
                </div>
            </div>
        </div>
       
        
    </div>
    
    
</div>
<div class="block-silver-line"></div>
</div>
<!-- ABOUT COMP END -->