<!-- documnet block -->

<div class="product-slider out" style="padding-top: 150px;margin-bottom: 140px;" >
  <div class="product-slider_nav">
    <div class="product-slider_nav__l">
      <div class="sub-info">
        <div class="sub-line"></div>
        <h5 class="sub-title" style="text-shadow: none;"  >Документы</h5>
      </div>
      <div class="arrows" >
        <ul>
          <li class="prev"></li>
          <li class="next"></li>
        </ul>
      </div>
    </div>
    <div class="product-slider_nav__r">
      <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="product-card">
          <a class="test-popup-link" href="img/doc.png">
          <img src="img/doc.png" alt="">
          <div class="product-card_title">Аттестат производства (2013 г.)</div>  
          </a> 
        </div>
        <div class="product-card">
          <a class="test-popup-link" href="img/doc.png">
          <img src="img/doc.png" alt="">
          <div class="product-card_title">Аттестат производства (2016 г.)</div>  
          </a> 
        </div>
        <div class="product-card">
          <a class="test-popup-link" href="img/doc.png">
          <img src="img/doc.png" alt="">
          <div class="product-card_title">Аттестат производства (2010 г.)</div>  
          </a> 
        </div>
        <div class="product-card">
          <a class="test-popup-link" href="img/doc.png">
          <img src="img/doc.png" alt="">
          <div class="product-card_title">Свидетельство на знак Faber для товаров и услуг</div>  
          </a> 
        </div>
      
      
      </div>
     

    </div>
 
  </div>

</div>



<!-- documnet block end -->