<!-- opt FAVER -->
<div class="opt-block ">
    <div class="customer-page__title out" >
        работа с оптовиками
    </div>
    <div class="opt-con">
            <div class="opt-con__l" style="background-image: url(img/1.png);" ></div>
            <div class="opt-con__r">
                <div class="opt-con__r_line"></div>
                <div class="reason-card-line">
                <div class="reason-card">
                    <div class="reason-card__title"> 
                        <img src="img/icons/money.svg" alt="">
                        <p>Предоплата</p>
                    </div>
                    <div class="reason-card__txt">
                        <p>Размер предоплаты определяется в индивидуальном порядке, с новыми оптовиками работаем по предоплате не меньше чем 30%.</p>
                    </div>
                </div>
                <div class="reason-card">
                    <div class="reason-card__title">
                        <img src="img/icons/sale.svg" alt="">
                        <p>Скидки</p>
                    </div>
                    <div class="reason-card__txt">
                        <p>Для всех оптовиков в межсезонье действуют скидки и специальные условия для размещения заказа.</p>
                    </div>
                </div>
                </div>
                <div class="reason-card-line">
                    <div class="reason-card">
                        <div class="reason-card__title">
                            <img src="img/icons/box.svg" alt="">
                            <p>Минимальный заказ</p>
                        </div>
                        <div class="reason-card__txt">
                            <p>Минимальная оптовая отгрузка со склада от 10-и пар обуви.</p>
                        </div>
                    </div>
                    <div class="reason-card">
                        <div class="reason-card__title">
                            <img src="img/icons/box-plus.svg" alt="">
                            <p>Дозаказ в сезон</p>
                        </div>
                        <div class="reason-card__txt">
                            <p>В течение сезона реализована возможность добирать обувь поразмерно со склада готовой продукции, без необходимости выкупа всей ростовки.</p>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>
<!-- opt FAVER  END -->