<!-- TARGET -->
<div class="target-block-background">
<div class="target-block out" style="align-items: flex-start;" >
    <div class="sub-info" >
        <div class="sub-line"></div>
        <h5 class="sub-title" >Наша цель</h5>
    </div>
    <div class="target-block__txt">
        <p>Сделать жизнь мужчин комфортней!</p>
        <p>Мы один из крупнейших производитлей мужской обуви в Украине. Производим исключительно кожаную обувь. Особое внимание уделяется разработке новых моделей. Постоянно следим за мировыми трендами и производим только качественную обувь. Используем любую возможность сделать обувь Faber лучше — активно внедряем новые технологии в процесс производства</p>
    </div>
</div>
</div>
<!-- TARGET END -->