<!-- WHY FAVER -->
<div class="why-block out">
    <div class="customer-page__title " >
        Почему Faber?
    </div>
    <div class="why-reasons">
        <div class="why-reasons__line"></div>
        <div class="reason-card">
            <div class="reason-card__title">
                <img src="img/icons/ecoco.svg" alt="">
                <p>Только кожа и ничего кроме кожи</p>
            </div>
            <div class="reason-card__txt">
                <p>Для производства обуви заказываем только лучшую кожу. Стоимость такой кожи выше, что гарантирует надежность и долговечность обуви Faber. Наши материалы не деформируются и обладают высокой прочностью. </p>
            </div>
        </div>
        <div class="reason-card">
            <div class="reason-card__title">
                <img src="img/icons/arm.svg" alt="">
                <p>Надежные поставщики</p>
            </div>
            <div class="reason-card__txt">
                <p>Сотрудничаем с ведущими производителями подошвы из: Италии, Турции и Украины, — а также другими проверенными поставщиками фурнитуры. Закупаем в Австрии и Италии.</p>
            </div>
        </div>
        <div class="reason-card">
            <div class="reason-card__title"> 
                <img src="img/icons/eco-list.svg" alt="">
                <p>ЭКО-технологии</p>
            </div>
            <div class="reason-card__txt">
                <p>Сотрудничаем с ведущими производителями подошвы из: Италии, Турции и Украины, — а также другими проверенными поставщиками фурнитуры. Закупаем в Австрии и Италии.</p>
            </div>
        </div>
        <div class="reason-card">
            <div class="reason-card__title">
                <img src="img/icons/spec.svg" alt="">
                <p>Сертифицированное производство</p>
            </div>
            <div class="reason-card__txt">
                <p>Ежеквартально проходим проверку на соответствие государственной аттестации. Производим тщательный контроль каждого этапа производства обуви от создания модели до выпуска, что подтверждается проверяющими органами.</p>
            </div>
        </div>
        <div class="reason-card">
            <div class="reason-card__title">
                <img src="img/icons/work.svg" alt="">
                <p>Ручная и автоматизированая работа</p>
            </div>
            <div class="reason-card__txt">
                <p>В производстве используется один из лучших в мире станков для приклейки подошвы IronFox (привезён из Италии) и ручной труд квалифицированных сотрудников, чтобы обеспечить высокое качество обуви.</p>
            </div>
        </div>
        <div class="reason-card">
            <div class="reason-card__title">
                <img src="img/icons/opt.svg" alt="">
                <p>Не только опт, но и розница</p>
            </div>
            <div class="reason-card__txt">
                <p>Faber владеет сетью собственных розничных магазинов обуви. Так мы получаем обратную связь от своих покупателей. Мы прислушиваемся к мнению тех, кто носит нашу обувь, чтобы сделать её ещё лучше, понять желания и настроения потребителей. </p>
            </div>
        </div>
        
    </div>
    <div class="why-reasons-btn">
        <button class="myBtn" ><a href="">Каталог</a></button>
    </div>
</div>
<!-- WHY FAVER  END -->