<!-- ECO BLOCK  -->
<div class="eco-sckin out">
  <div class="eco-sckin__title  wow fadeInLeft">ТОЛЬКО КОЖА И <br> НИЧЕГО кроме <br> КОЖИ</div>
  <div class="eco-sckin__info-block wow fadeInUp">
    <div class="block" >
    <div class="eco-line"></div>
    <div class="ib-reason">
      <div class="ib-reason__title">
        <img src="img/icons/eco1.svg" alt="">
        ЭКО-технологии
      </div>
      <p>В качестве дублировочного материала используется только хлопчатобумажная термобязь, которая позволяет ногам “дышать”.  За счет этого наша обувь более прочная и долговечная.</p>
    </div>
    <div class="ib-reason">
      <div class="ib-reason__title">
        <img src="img/icons/eco2.svg" alt="">
        Надежные поставщики
      </div>
      <p>Сотрудничаем с ведущими производителями подошвы из: Италии, Турции и Украины, — а также другими проверенными поставщиками фурнитуры. </p>
    </div>
  </div>
  </div>
  <div class="eco-sckin__btn">
    <button class="myBtn" >Узнать больше</button>
  </div>
</div>
<!-- ECO BLOCK END -->