<!-- brand BLOCK  -->
<div class="brand wow fadeIn"  style="justify-content: flex-end !important;">
  
  <div class="brand__l" style="max-width: 500px !important">
    <div class="brand__l_title">Качество <br> обуви для нас <br>превыше всего</div>
    <div   class="brand__l_btn">
      <button class="myBtn" >Сделать пробный заказ</button>
    </div>
  </div>
  <div class="brand__r" style="background-image: url('img/man.png');"  ></div>
  <div class="photo-middle"><img src="img/ob.png" alt=""></div>
</div>
<!-- brand BLOCK END -->