<!-- MODAL -->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"  id="modal-login" role="document">
    <div class="modal-content">
      <div class="close-mod" data-dismiss="modal" aria-label="Close">
        <img src="img/icons/clode-mod.svg" alt="">
      </div>
  

        <div class="con-login">
          <div class="con-login__l">
            <div class="mcl-title">Я новый пользователь</div>
            <div class="mcl-subtitle">Отслеживай заказы и накапливай бонусы в личном кабинете</div>
            <div class="mcl__btn">
              <button class="myBtn" >Зарегистрироваться</button>
            </div>
          </div>
  
          <div class="con-login__hr"></div>
          <div class="con-login__r">
            <div class="mcr-title">Вход</div>
            <div class="input-wrapper" >
              <input type="text" id="user" required value="" >
              <label for="user">Email</label>
            </div>
            <div class="input-wrapper" >
              <input type="password" id="password" required value="" >
              <label for="user">Пароль</label>
            </div>
            <div class="mcr__btn">
              <button class="myBtn" >Войти</button>
            </div>
            <div class="foget">
              <a href="">Я забыл(-ла) свой пароль</a>
            </div>
            
          </div>
        </div>  
    
    
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"  id="modal-login" role="document">
    <div class="modal-content">
      <div class="close-mod" data-dismiss="modal" aria-label="Close">
        <img src="img/icons/clode-mod.svg" alt="">
      </div>
  
      <div class="mod-line">
        <p>Чтобы добавить товар к “Избранным” необходимо войти в свой аккаунт</p>
      </div>
        <div class="con-login">
          <div class="con-login__l">
            <div class="mcl-title">Я новый пользователь</div>
            <div class="mcl-subtitle">Отслеживай заказы и накапливай бонусы в личном кабинете</div>
            <div class="mcl__btn">
              <button class="myBtn" >Зарегистрироваться</button>
            </div>
          </div>
  
          <div class="con-login__hr"></div>
          <div class="con-login__r">
            <div class="mcr-title">Вход</div>
            <div class="input-wrapper" >
              <input type="text" id="user" required value="" >
              <label for="user">Email</label>
            </div>
            <div class="input-wrapper" >
              <input type="password" id="password" required value="" >
              <label for="user">Пароль</label>
            </div>
            <div class="mcr__btn">
              <button class="myBtn" >Войти</button>
            </div>
            <div class="foget">
              <a href="">Я забыл(-ла) свой пароль</a>
            </div>
            
          </div>
        </div>  
    
    
    </div>
  </div>
</div>

<!-- MODAL END -->
<div class="modal fade" id="modal-log" tabindex="-1" role="dialog" aria-labelledby="modal2" aria-hidden="true">
  <div class="modal-login" role="document">
    <div class="modal-content mod-con-login">
      <button class="close-mod" type="button" class="close" data-dismiss="modal" aria-label="Close">
       
        <span aria-hidden="true">&times;</span>
      </button>
     
        <div class="con-login">
        <div class="con-login__l">
          <div class="mcl-title">Я новый пользователь</div>
          <div class="mcl-subtitle">Отслеживай заказы и накапливай бонусы в личном кабинете</div>
          <div class="mcl__btn">
            <button class="myBtn" >Зарегистрироваться</button>
          </div>
        </div>

        <div class="con-login__hr"></div>
        <div class="con-login__r">
          <div class="mcr-title">Вход</div>
          <div class="input-wrapper" >
            <input type="text" id="user" required value="" >
            <label for="user">Email</label>
          </div>
          <div class="input-wrapper" >
            <input type="password" id="password" required value="" >
            <label for="user">Пароль</label>
          </div>
          <div class="mcr__btn">
            <button class="myBtn" >Войти</button>
          </div>
          <div class="foget">
            <a href="">Я забыл(-ла) свой пароль</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- HEADER START -->
<header class="out"  >
    <div class="main-header" >
    <div class="main-header_blockL">
        <div class="header-menu">
          <img src="img/icons/menu.svg" alt="">
          <img src="img/icons/ic-close.svg" alt="">
        </div>
        <div class="header-logo">
          <a href="index.html"> <img src="img/logo.png" alt=""></a>
        </div>
        <menu>
            <li><a href="basket.html">Акции %</a></li>
            <li><a href="catalog.html">Каталог</a></li>
            <li><a href="about.html">О компании</a></li>
            <li><a href="shop.html">Магазины</a></li>
            <li><a href="contact.html">Контакты</a></li>
        </menu>

    
    </div>
    <div class="main-header_blockR">
        <div class="icons">
            <ul>
                <li><a data-toggle="modal" data-target="#exampleModal" href=""><img src="img/icons/loop.svg" alt=""></a></li>
                <li><a href="customer.html"><img src="img/icons/shop.svg" alt=""></a></li>
                <li><a  data-toggle="modal" data-target="#exampleModalCenter" ><img src="img/icons/love.svg" alt=""></a></li>   
                <li><a href="profile.html"><img src="img/icons/user.svg" alt=""></a></li>
            </ul>	
        </div>
        <div class="line"></div>
        <div class="lang">
            <a href="" data-toggle="modal" data-target="#modal2" >Рус  
                <img src="img/down.png" alt="">
            </a>
           
        </div>   
         

    </div>
    </div>
  
</header>
<div class="header-menu-mob"  style="visibility: hidden;">
  <menu>
    <li><a class="active" href="basket.html">Акции %</a></li>
    <li><a href="catalog.html">Каталог</a></li>
    <li><a href="about.html">О компании</a></li>
    <li><a href="shop.html">Магазины</a></li>
    <li><a href="contact.html">Контакты</a></li>
  </menu>
  <div class="header-menu-mob__foter">
    <div class="social">
      <img src="img/icons/f.svg" alt="">
      <img src="img/icons/i.svg" alt="">
      <img src="img/icons/telegram.svg" alt="">
      </div>
        <div class="sub-title" >+ 38 067 79 10 634</div>
    </div>
</div>

<!-- HEADER END -->




  