<div class="main-slider-bacground wow fadeIn">
    <div class="main-slider out">
    	{% include "partials/_header-slider.html" %}
        
        <div class="main-slider__info out">
            <div class="main-slider__info_title wow fadeInLeft">New <br> for men</div>
            <div class="main-slider__info_r">
                <div class="t-block wow fadeInUp">
                    <div class="t-block__sub-title">new collection</div>
                    <div class="t-block__title">Мужские туфли</div>
                    <button  class="myBtn" >Вся коллекция</button>
                   
                </div>
                <div id="main-slider" >
                    <div id="mini-slider" class="owl-carousel owl-theme">
                        <img src="img/mini.png" alt=""> 
                        <img src="img/man.png" alt="">  
                        <img src="img/mini.png" alt="">  
                        <img src="img/mini.png" alt="">  
                    </div>
                     <div class="nav">
                         <p>01</p>
                         <div id="mini-custom-dots" >
                            <li class='owl-dot' index="0" ></li> 
                            <li class='owl-dot' index="1"></li> 
                            <li class='owl-dot' index="2"></li> 
                            <li class='owl-dot' index="3"></li> 
                         </div>
                         <p>04</p>
                     </div>
                </div>
            </div>
           
            <div class="shoes-img">
                <img src="img/slider.png" alt="">
            </div>
        </div>

        <div class="main-slider__social out">
            <div class="item-social wow fadeInUp"><a href=""><img src="img/icons/f.svg" alt=""></a></div>
            <div class="item-social wow fadeInUp"><a href=""><img src="img/icons/i.svg" alt=""></a></div>
            <div class="item-social wow fadeInUp">
                <a href=""><img src="img/icons/telegram.svg" alt=""></a>
                <div class="sub-info wow fadeInLeft">
                    <div class="sub-line"></div>
                    <h5 class="sub-title" >+ 38 067 79 10 634</h5>
                </div>
            </div>
        </div>
         <div class="slider-footer">
         
         <div class="slider-footer__btn">
            <button class="myBtn" >Вся коллекция</button>
        </div>
        <div class="slider-footer__main">
            <div class="social">
                <img src="img/icons/f.svg" alt="">
                <img src="img/icons/i.svg" alt="">
                <img src="img/icons/telegram.svg" alt="">
                </div>
                    <div class="sub-title" >+ 38 067 79 10 634</div>
                </div>
        </div>
        

        
       
    </div>  
</div>
