<!-- MAP BLOCK -->
<div class="map-block">
<!--     
         <div class="map-nav" style="justify-content: flex-end !important;" >
          
        
        </div>  -->
        <div class="map-content" style="justify-content: flex-end !important;" >
        <div class="map-content__l wow fadeInLeft" >
          <div class="sub-info">
                <div class="sub-line"></div>
                <h5 class="sub-title" >Магазины</h5>
              </div>
            <div id="tab-1" class="tab-content current">
                <div class="tab-con" >
                <div class="in-map-block">
                    <div class="tm-title">Киев</div>
                    <div class="tm-text">
                        Крайняя, 1 <br>
                        ТЦ «Альтаир» <br>
                        9:00 — 17:00 <br>
                        выходной: пн <br>
                    </div>
                </div>
                <div class="in-map-block">
                    <div class="tm-title">Одесса</div>
                    <div class="tm-text">
                        Крайняя, 1 <br>
                        ТЦ «Альтаир» <br>
                        9:00 — 17:00 <br>
                        выходной: пн <br>
                    </div>
                </div>
                <div class="in-map-block">
                    <div class="tm-title">Чернигов</div>
                    <div class="tm-text">
                        Крайняя, 1 <br>
                        ТЦ «Альтаир» <br>
                        9:00 — 17:00 <br>
                        выходной: пн <br>
                    </div>
                </div>
                <div class="in-map-block">
                    <div class="tm-title">Херсон</div>
                    <div class="tm-text">
                        Крайняя, 1 <br>
                        ТЦ «Альтаир» <br>
                        9:00 — 17:00 <br>
                        выходной: пн <br>
                    </div>
                </div>
                </div>
            </div>
            <div id="tab-2" class="tab-content">
                <div class="tab-con">
                <div class="in-map-block">
                    <div class="tm-title">Киев</div>
                    <div class="tm-text">
                        Крайняя, 1 <br>
                        ТЦ «Альтаир» <br>
                        9:00 — 17:00 <br>
                        выходной: пн <br>
                    </div>
                </div>
                <div class="in-map-block">
                    <div class="tm-title">Одесса</div>
                    <div class="tm-text">
                        Крайняя, 1 <br>
                        ТЦ «Альтаир» <br>
                        9:00 — 17:00 <br>
                        выходной: пн <br>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="map-content__r wow fadeInRight">
            <div class="map-nav__r">
                <ul class="tabs">
                    <li class="tab-link current activ"  hide="ctab-2" data-tab="tab-1">Оптово-розничные</li>
                    <li class="tab-link" hide="ctab-1" data-tab="tab-2">Розничные</li>
                </ul>
                <div class="city ctab-1" >
                    <li class="cor a-origin first" lat="50.4021702" lng="30.3926087"   >Киев</li>
                    <li class="cor"lat="51.4975504" lng="31.2870258" >Чернигов</li>
                    <li class="cor" lat="46.6518033" lng="32.5857444" >Херсон</li>
                    <li class="cor" lat="46.4911777" lng="30.6633715" >Одесса</li>
                </div>
                <div class="city ctab-2 hide" >
                    <li class="corr a-origin firstr" lat="50.4021702" lng="30.3926087"  >Киев</li>
                    <li class="corr" lat="46.4911777" lng="30" >Одесса2</li>
                </div>
            </div> 
            <div id="map"> </div>
            <div id="maps" style="display:none" > </div>
        </div>
    </div>
</div>

<!-- MAP BLOCK EMD   -->