<!-- FOOTER  -->
<footer >
  <div class="footer out">
  <div class="footer__list-info">
  <div class="footer__list-info__menu">
      <li><a class="act"  href="">Акции %</a>  </li>
      <li> <a href="">Каталог</a> </li>
      <li> <a href="">Магазины</a></li>
      <li> <a href="">О компании</a> </li>
  </div>
  <div class="footer__list-info__pages">
    <li> <a class="act"  href="">Обмен и Возврат</a></li>
    <li> <a href="">Оплата и Доставка</a> </li>
    <li> <a href="">Контакты</a> </li>
  </div>
</div>
  <div class="footer__info">
      <div class="in_block">
        <div class="f-line"></div>
        <div class="in_block_title">Время работы</div>
        <div class="in_block_txt">10:00 - 19:00 <br>
          (без выходных)</div>
      </div>
      <div class="in_block">
        <div class="f-line"></div>
        <div class="in_block_title">Телефон</div>
        <div class="in_block_txt">+ 38 067 79 10 634</div>
      </div>
  </div>
  <div class="footer__email">
    <div class="em-btn">
    <div class="input-wrapper" >
      <input type="text" id="user" required value="" >
      <label for="user">Email</label>
    </div>
    <div class="footer__btn">
      <button  class="myBtn" >Подписаться на новости</button>
    </div>
  </div>
    <div class="fsocia">
      <a href=""><img src="img/icons/f.svg" alt=""></a>
      <a href=""><img src="img/icons/i.svg" alt=""></a>
      <a href=""><img src="img/icons/t.svg" alt=""></a>
    </div>
  </div>
  
</div>
</footer>
<!-- FOOTER END -->