
<!-- HEADER START -->
<header class="out" style="background-color: initial !important ;">
    <div class="main-header" >
    <div class="main-header_blockL">
        <div class="header-menu main-open" >
          <img src="img/icons/menu.svg" alt="">
        </div>
        <div class="header-logo">
          <a href="index.html"> <img src="img/logo.png" alt=""></a>
        </div>
        <menu>
            <li><a href="basket.html">Акции %</a></li>
            <li><a href="catalog.html">Каталог</a></li>
            <li><a href="about.html">О компании</a></li>
            <li><a href="shop.html">Магазины</a></li>
            <li><a href="contact.html">Контакты</a></li>
        </menu>

    
    </div>
    <div class="main-header_blockR">
        <div class="icons">
            <ul>
                <li><a href=""><img src="img/icons/loop.svg" alt=""></a></li>
                <li><a href="customer.html"><img src="img/icons/shop.svg" alt=""></a></li>
                <li><a href=""><img src="img/icons/love.svg" alt=""></a></li>   
                <li><a href="profile.html"><img src="img/icons/user.svg" alt=""></a></li>
            </ul>	
        </div>
        <div class="line"></div>
        <div class="lang">
            <a href="">Рус  
                <img src="img/down.png" alt="">
            </a>
           
        </div>   
    </div>
    </div>
  

</header>
<div class="header-menu-mob"  style="visibility: hidden;background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) -32.12%, #FAFAFA 100%)">
  <menu>
    <li><a class="active" href="basket.html">Акции %</a></li>
    <li><a href="catalog.html">Каталог</a></li>
    <li><a href="about.html">О компании</a></li>
    <li><a href="shop.html">Магазины</a></li>
    <li><a href="contact.html">Контакты</a></li>
  </menu>
  <div class="header-menu-mob__foter">
    <div class="social">
      <img src="img/icons/f.svg" alt="">
      <img src="img/icons/i.svg" alt="">
      <img src="img/icons/telegram.svg" alt="">
      </div>
        <div class="sub-title" >+ 38 067 79 10 634</div>
    </div>
</div>
<!-- HEADER END -->

