<!--  CONTACT  -->
<div class="contact eco-sckin out" style="margin-top: 65px;" >
  <div class="eco-sckin__title">обратная <br> связь</div>
  <div class="contact__info-block">
    <div class="block" >
    <div class="contact-line"></div>
    <p>Если у Вас возникли вопрос, напишите нам. Наши <br> менеджеры ответят сразу же!</p>
    <form action="">
      <div class="input-wrapper" >
        <input type="text" id="user" required value="" >
        <label for="user">Ваше имя</label>
      </div>
      <div class="input-wrapper" >
        <input type="text" id="user" required value="" >
        <label for="user">Ваше email</label>

      </div>
      <div class="textarea-wrapper" >
        <textarea required name="" id="" cols="30" rows="10"></textarea>
        <label for="user">Ваше сообщение или вопрос</label>
      </div>
    </form>
  </div>
  </div>
  <div class="contact__btn">
    <button class="myBtn" >Отправить</button>
  </div>
</div>
<!-- CONTACT END -->
