<!-- MAP BLOCK STYLE 2 -->
<div class="map-block" style="margin-top: 100px;" >
     
    <div class="map-content " style="justify-content: flex-end !important;" >
        <div class="map-content__l" style="max-width: 500px;"   >
            <div id="tab-1" class="tab-content current">
                <div class="tab-con" style="padding-left: 0px !important;" >
                    <h4>Обувная фабрика <br><br> Faber</h4>
                    <div class="min-map-block">
                        <div class="min-map-block__l">
                            <img src="img/marker.png" alt="">
                            <div class="info-map">
                            <div class="tm-text">
                                Бровары <br>
                                (киевская область) <br>
                                Гагарина, 5/1 <br>
                            </div>
                        </div>
                        </div>
                        <div class="min-map-block__r">
                            <div class="tm-con">
                                почта: <br>   support@faber.ua
                            </div>
                        </div>
                    </div>
               
                </div>
            </div>
           
        </div>
        <div class="map-content__r"   >
            <div id="map" style="height: 550px !important;" > </div>
        </div>
    </div>
    
</div>
<!-- MAP BLOCK STYLE 2 END -->