<!-- Personal Card -->
<div class="personal-cards out" style="margin-top:100px" >
    
    <div class="p-card">
      <div class="p-card__name">Шевчун Олег <br>
        Алексеевич</div>
        <div class="p-card__pos">Директор</div>
        <div class="p-card__line"></div>
        <div class="p-card__inf">
          орг. вопросы, крупный опт <br>
          +380 (67) 442-82-17
        </div>
    </div>
    <div class="p-card">
      <div class="p-card__name">Шевчун Олег <br>
        Алексеевич</div>
        <div class="p-card__pos">Директор</div>
        <div class="p-card__line"></div>
        <div class="p-card__inf">
          орг. вопросы, крупный опт <br>
          +380 (67) 442-82-17
        </div>
    </div>
    <div class="p-card">
      <div class="p-card__name">Шевчун Олег <br>
        Алексеевич</div>
        <div class="p-card__pos">Директор</div>
        <div class="p-card__line"></div>
        <div class="p-card__inf">
          орг. вопросы, крупный опт <br>
          +380 (67) 442-82-17
        </div>
    </div>
    <div class="p-card">
      <div class="p-card__name">Шевчун Олег <br>
        Алексеевич</div>
        <div class="p-card__pos">Директор</div>
        <div class="p-card__line"></div>
        <div class="p-card__inf">
          орг. вопросы, крупный опт <br>
          +380 (67) 442-82-17
        </div>
    </div>
    <div class="p-card">
      <div class="p-card__name">Шевчун Олег <br>
        Алексеевич</div>
        <div class="p-card__pos">Директор</div>
        <div class="p-card__line"></div>
        <div class="p-card__inf">
          орг. вопросы, крупный опт <br>
          +380 (67) 442-82-17
        </div>
    </div>

</div>
<!-- Personal Card  END  -->