<div class="basket customer-page out" style="margin-bottom: 80px;" >
    <div class="basket_customer-page__title " >
        заказ
    </div>
    <div class="basket-order">
        <div class="basket-order__l">
            <div class="bo-data">
                <div class="sub-info">
                    <div class="sub-line"></div>
                    <h5 class="sub-title" >Контактные данные</h5>
                </div>
                <div class="input-wrapper" >
                    <input type="text" id="user" required value="" >
                    <label for="user">Имя</label>
                  </div>
                  <div class="input-wrapper" >
                    <input type="text" id="user" required value="" >
                    <label for="user">Фамилия</label>
                  </div>
                  <div class="input-wrapper" >
                    <input type="text" id="user" required value="" >
                    <label for="user">Email</label>
                  </div>
                  <div class="input-wrapper" >
                    <input type="text" id="user" required value="" >
                    <label for="user">Телефон</label>
                  </div>
            </div>
            <div class="bo-delivery">
                <div class="sub-info">
                    <div class="sub-line"></div>
                    <h5 class="sub-title" >Доставка</h5>
                </div>
                <div class="bo-delivery__con">
                    <div class="bo-delivery__con_main">
                    <div class="wrap-radio radio-delivery" data="delivery1">
                        <input type="radio" name="delivery" checked id="myCheckbox1" />
                        <label for="myCheckbox1"><span>Новая почта</span> </label>
                    </div>
                    <div class="wrap-radio radio-delivery" data="delivery2">
                        <input type="radio" name="delivery" id="myCheckbox2" />
                        <label for="myCheckbox2"><span>Автолюкс</span> </label>
                    </div>
                    <div class="wrap-radio radio-delivery" data="delivery3">
                        <input type="radio" name="delivery" id="myCheckbox3" />
                        <label for="myCheckbox3"><span>Самовывоз</span> </label>
                    </div>
                    <div class="wrap-radio radio-delivery" data="delivery4">
                        <input type="radio" name="delivery" id="myCheckbox4" />
                        <label for="myCheckbox4"><span>Самовывоз со скалада</span> </label>
                    </div>
                    <div class="bod-line"></div>
                </div>
                    <div class="del-tab delivery1 del-show">
                        <div class="check">
                        <div class="wrap-radio radio-way" data="way1">
                            <input type="radio" name="way" id="myCheckbox5" />
                            <label for="myCheckbox5"><span>Курьером</span> </label>
                        </div>
                        <div class="wrap-radio radio-way" data="way2">
                            <input type="radio" name="way" checked id="myCheckbox6" />
                            <label for="myCheckbox6"><span>В отделение НП</span> </label>
                        </div>
                    </div>
                    <div class="select-tab way1">
                        <select name="slct" id="slct">
                            <option value="" select hidden>Город</option>
                            <option value="1">Киев</option>
                            <option value="2">Харьков</option>
                            <option value="3">Львов</option>
                        </select>
                        <div class="input-wrapper" >
                            <input type="text" id="user" required value="" >
                            <label for="user">Улица</label>
                          </div>
                          <div class="in-line">
                          <div class="input-wrapper" >
                            <input type="text" id="user" required value="" >
                            <label for="user">Дом</label>
                          </div>
                          <div class="input-wrapper" >
                            <input type="text" id="user" required value="" >
                            <label for="user">Квартира</label>
                          </div> 
                        </div>  
                    </div>
                    <div class="select-tab way2 del-show">
                        <select name="slct" id="slct">
                            <option value="" select hidden>Город</option>
                            <option value="1">Киев</option>
                            <option value="2">Харьков</option>
                            <option value="3">Львов</option>
                        </select>   
                        <select name="slct" id="slct">
                            <option value="" select hidden>Отделение</option>
                            <option value="1">№147</option>
                            <option value="2">№147</option>
                            <option value="3">№147</option>
                        </select>
                    </div>
                   
                    </div>
                    <div class="del-tab delivery3">
                        <select name="slct" id="slct">
                            <option value="" select hidden>Город</option>
                            <option value="1">Киев </option>
                            <option value="2">Харьков</option>
                            <option value="3">Львов</option>
                        </select>   
                        <select name="slct" id="slct">
                            <option value="" select hidden>Магазин</option>
                            <option value="1">№147</option>
                            <option value="2">№147</option>
                            <option value="3">№147</option>
                        </select>    
                    </div>
                </div>    
                <div class="del-tab delivery4">
                    <p>
                        Адрес склада: Бровары <br>(киевская область) <br> Гагарина, 5/1
                    </p>
                </div>    

 
            </div>    
            <div class="bo-money">
                <div class="sub-info">
                    <div class="sub-line"></div>
                    <h5 class="sub-title" >Оплата</h5>
                </div>
                <div class="wrap-radio" data="delivery10">
                    <input type="radio" name="delivery" checked id="myCheckbox10" />
                    <label for="myCheckbox10"><span>Оплата при получении</span> </label>
                </div>
                <div class="wrap-radio" data="delivery20">
                    <input type="radio" name="delivery" id="myCheckbox20" />
                    <label for="myCheckbox20"><span>Переводом на банковскую карту</span> </label>
                </div>
                <div class="wrap-radio" data="delivery3">
                    <input type="radio" name="delivery" id="myCheckbox30" />
                    <label for="myCheckbox30"><span>Наложенным платежом в отделении перевозчика или курьеру</span> </label>
                </div>
            </div>
            <div class="bo-send">
                <div class="sub-info">
                    <div class="sub-line"></div>
                    <h5 class="sub-title" >Комментарии к заказу</h5>
                </div>
                <div class="textarea-wrapper" >
                    <textarea required name="" id="" cols="30" rows="10"></textarea>
                    <label for="user">Ваши Комментарии</label>
                </div>
                <div class="bo-send__btn">
                    <button class="myBtn" >Оформить заказ</button>
                  </div>         
            </div>
        </div>
        
        <div class="basket-order__r">
            <div class="basket-order__r_title">
                Вы выбрали
            </div>
            <div class="basket-order__r_check">
                <div class="prof-order__items">
                    <div class="prof-order__items_l">
                        <img src="img/ph1.png" alt="">
                    </div>
                    <div class="prof-order__items_r">
                        <div class="pror-order-line1">
                            <p>Код: 116407/1</p>
                            <p>1 шт</p>
                        </div>
                        <div class="pror-order-line2">
                            <p>Туфли с перфорацией</p>
                            <p>2900 UAH</p>
                        </div>
                        <div class="pror-order-line3">
                            <p>44 размер</p>
                        </div>
                    </div>
                </div>
                
                <div class="basket-order-price prof-order__price">
                    <div class="pop-line"></div>
                    <div class="prof-order__price_line">
                        <p>1 товар на сумму</p>
                        <div>2900 UAH</div>
                    </div>
                    <div class="prof-order__price_line">
                        <p>Доставка</p>
                        <div>60 UAH</div>
                    </div>
                    <div class="prof-order__price_line">
                        <p>Скидка</p>
                        <div>-60 UAH</div>
                    </div>
                    <div class="pop-line"></div>
                    <div class="prof-order__price_line3">
                        <p>Сума заказа:</p>
                        <p>2815 UAH</p>
                    </div>
                </div>
                <p class="info-for-user" >
                    Оформляя заказ, я принимаю  <a href="">условия договора публичной оферты</a> , <a href="">возврата</a>  и <a href="">безопасности</a>
                </p>
            </div>
        </div>
    </div>
    <div class="bo-send__btn_new bo-send__btn">
        <button class="myBtn" >Оформить заказ</button>
      </div>
    <a href="" class="back" >
        <img src="img/icons/arl.svg" alt="">
        <span> Вернуться к покупкам</span>
    </a>
</div>    

