<div class="catalog-txt target-block out" style="align-items: flex-start;" >
    <div class="sub-info" >
        <div class="sub-line"></div>
        <h5 class="sub-title" >Каталог <br> мужской обуви</h5>
    </div>
    <div class="target-block__txt">
        <p>В каталоге мужской обуви украинской фабрики Faber представлен широкий выбор мужских туфлей, ботинок, мокасин, топсайдеров, сандалей, шлепанцев и другой мужской обуви, сделанной из высококачественной натуральной кожи. Также в каталоге можно выбрать подростковую обувь и мужскую обувь больших размеров.</p>
        <p>В ассортименте присутствуют модели мужской кожаной обуви таких стилей как классика, комфорт, спорт разных фактур и цветовых решений, в том числе монотонов и комбинаций, с брогированием и без, с отрезным и цельным носком, с классической шнуровкой и на резинке.</p>
        <p>Качественная, комфортная и стильная мужская обувь Faber эффектно дополнит Ваш образ, придаст уверенности в любой ситуации и изысканно подчеркнет Вашу индивидуальность.</p>
    </div>
</div>