<div class="modal fade" id="item-ros" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"  id="modal-item" role="document">
      <div class="modal-content">
        <div class="close-mod" data-dismiss="modal" aria-label="Close">
          <img src="img/icons/clode-mod.svg" alt="">
        </div>
    
  
          <div class="con-login modal-item-card">
            <div class="con-login__l">
                <img style="height: 348px;" src="img/new.png" alt="">

            </div>
    
            <div class="con-login__r">
              <div class="mcr-title">Узнать оптовую цену</div>
              <div class="input-wrapper" >
                <input type="text" id="user" required value="" >
                <label for="user">Имя</label>
              </div>
              <div class="input-wrapper" >
                <input type="password" id="password" required value="" >
                <label for="user">Телефон</label>
              </div>
              <div class="input-wrapper" >
                <input type="text" id="user" required value="" >
                <label for="user">Email</label>
              </div>
              <div class="mcr__btn" style="margin-top: 30px;">
                <button class="myBtn" >Отправить</button>
              </div>
       
              
            </div>
          </div>  
      
      
      </div>
    </div>
  </div>
<div class="modal fade" id="item" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"  id="modal-item" role="document">
      <div class="modal-content">
        <div class="close-mod" data-dismiss="modal" aria-label="Close">
          <img src="img/icons/clode-mod.svg" alt="">
        </div>
    
  
          <div class="con-login modal-item-card">
            <div class="con-login__l">
             <img src="img/modal-p.png" alt="">
            </div>
    
            <div class="con-login__r">
              <div class="mcr-title">Узнать оптовую цену</div>
              <div class="input-wrapper" >
                <input type="text" id="user" required value="" >
                <label for="user">Имя</label>
              </div>
              <div class="input-wrapper" >
                <input type="password" id="password" required value="" >
                <label for="user">Телефон</label>
              </div>
              <div class="input-wrapper" >
                <input type="text" id="user" required value="" >
                <label for="user">Email</label>
              </div>
              <div class="textarea-wrapper resi" >
                <textarea required name="" id="" cols="30" rows="10"></textarea>
                <label for="user">Ваше сообщение или вопрос</label>
              </div>
              <div class="mcr__btn" style="margin-top: 30px;">
                <button class="myBtn" >Отправить</button>
              </div>
              <div class="foget list-ffj">
                  <li><a href="">Доставка</a></li>
                  <li><a href="">Сроки</a></li>
                  <li><a href="">Минимальный заказ</a></li>
                  <li><a href="">Оплата</a></li>
              </div>
              
            </div>
          </div>  
      
      
      </div>
    </div>
  </div>


  <div class="modal fade" id="item-buy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg"  id="modal-item" role="document">
      <div class="modal-content">
        <div class="close-mod" data-dismiss="modal" aria-label="Close">
          <img src="img/icons/clode-mod.svg" alt="">
        </div>
    
  
          <div class="item-buym">
                <div class="item-buym__title">
                    Добавлено в корзину
                </div>
                <div class="like-items">
                    <div class="like-items__photo">
                        <img src="img/photo2.png" alt="">
                    </div>
                    <div class="like-items__info">
                        <div class="like-items__info__line1">
                            <span>Код: 116407/1</span>
                            <a href=""><img src="img/icons/trash.svg" alt=""></a>
                        </div>
                        <div class="like-items__info__line2">
                            <p>Туфли с перфорацией</p>
                            <p>2900 UAH</p>
                        </div>
                        <div class="product-item__r__size">
                            <div class="pirs-line1">
                                <p>Размеры:</p>
                        
                            </div>
                            <div class="pirs-btn">
                                <div class="size-btn">
                                    <button active >40</button>
                                </div>
                                <div class="size-btn">
                                    <button active >40</button>
                                </div>
                                <div class="size-btn">
                                    <button disabled >40</button>
                                </div>
                                <div class="size-btn">
                                    <button active >40</button>
                                </div>
                                <div class="size-btn"  >
                                    <button disabled >40</button>
                                </div>
                              
                            </div>
                        </div>
                        <div class="like-items__promo">
                            <div class="pline-text">Промокод на скидку 5% <span>(кроме моделей с отметкой “распродажа”)</span></div>
                            <div class="pinput">
                                <div class="input-wrapper" >
                                    <input type="text" id="user" required value="" >
                                    <label for="user">Ввести промокод</label>
                                  </div>
                                  <a href="">получить промокод</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="like-items">
                    <div class="like-items__photo">
                        <img src="img/photo2.png" alt="">
                    </div>
                    <div class="like-items__info">
                        <div class="like-items__info__line1">
                            <span>Код: 116407/1</span>
                            <a href=""><img src="img/icons/trash.svg" alt=""></a>
                        </div>
                        <div class="like-items__info__line2">
                            <p>Туфли с перфорацией</p>
                            <p>2900 UAH</p>
                        </div>
                        <div class="product-item__r__size">
                            <div class="pirs-line1">
                                <p>Размеры:</p>
                        
                            </div>
                            <div class="pirs-btn">
                                <div class="size-btn">
                                    <button active >40</button>
                                </div>
                                <div class="size-btn">
                                    <button active >40</button>
                                </div>
                                <div class="size-btn">
                                    <button disabled >40</button>
                                </div>
                                <div class="size-btn">
                                    <button active >40</button>
                                </div>
                                <div class="size-btn"  >
                                    <button disabled >40</button>
                                </div>
                              
                            </div>
                        </div>
                        <div class="like-items__promo">
                            <div class="pline-text">Промокод на скидку 5% <span>(кроме моделей с отметкой “распродажа”)</span></div>
                            <div class="pinput">
                                <div class="input-wrapper" >
                                    <input type="text" id="user" required value="" >
                                    <label for="user">Ввести промокод</label>
                                  </div>
                                  <a href="">получить промокод</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="item-mob">
                    <div class="prof-order__items">
                        <div class="prof-order__items_l">
                            <img src="img/ph1.png" alt="">
                        </div>
                        <div class="prof-order__items_r">
                            <div class="pror-order-line1">
                                <p>Код: 116407/1</p>
                                
                            </div>
                            <div class="pror-order-line2">
                                <p>Туфли с перфорацией</p>
                            </div>
                            <div class="pror-order-line3">
                               
                                <p>2900 UAH</p>
                                <a  style="margin-right: 10px;" href=""><img src="img/icons/trash.svg" alt=""></a>
                            </div>
                            
    
                        </div>
                    </div>

                    <div class="product-item__r__size">
                        <div class="pirs-line1">
                            <p>Размеры:</p>
                        </div>
                        <div class="pirs-btn">
                            <div class="size-btn">
                                <button active >40</button>
                            </div>
                            <div class="size-btn">
                                <button active >40</button>
                            </div>
                            <div class="size-btn">
                                <button disabled >40</button>
                            </div>
                            <div class="size-btn">
                                <button active >40</button>
                            </div>
                            <div class="size-btn"  >
                                <button disabled >40</button>
                            </div>
                          
                        </div>
                    </div>
                </div>
              
                <div class="item-buym__sum">
                   <div>Сума заказа: <p>2900 UAH</p></div> 
                </div>
                <div class="item-buym__end">
                    <a href=""><img src="img/icons/arl.svg" alt=""> Назад к каталогу</a>
                    <button class="myBtn" >Оформить заказ</button>
                </div>    
            </div>
    </div>
  </div>
  </div>
<!-- CARD -->
<div class="back out">
    <a href=""><img src="img/icons/arl.svg" alt=""> Назад к каталогу</a>
</div>
<div class="product-item out">
    
    <div class="product-item__l">
        <div class="product-item__l_block">
           
                <div class="slider-vertical">
                    <div class="thumb-item" list="0" data-num="1"><img src="img/s1.png" alt=""></div>
                    <div class="thumb-item" list="0" data-num="2"><img src="img/s2.png" alt=""></div>
                    <div class="thumb-item" list="0" data-num="3"><img src="img/s3.png" alt=""></div>
                    <div class="thumb-item" list="0" data-num="4"><img src="img/s4.png" alt=""></div>
                </div>  
              <div class="pi-block-main">
                <div class="owl-carousel owl-carousel-main" >
                    <div class="item-ph">
                        <img src="img/s1.png" alt="">
                    </div>
                    <div class="item-ph">
                        <img src="img/s2.png" alt="">
                    </div>
                    <div class="item-ph">
                        <img src="img/s3.png" alt="">
                    </div>
                    <div class="item-ph">
                        <img src="img/s4.png" alt="">
                    </div>
                </div>
               
                <div class="pi-block-main__nav">
                    <div class="arl"><img src="img/icons/arl.svg" alt=""></div>
                    <div class="arr"><img src="img/icons/arrowr.svg" alt=""></div>
                </div>
              </div>  
              
              
        </div>  
     
    </div>
    <div class="owl-carousel owl-carousel-main-card"  >
        
            <img src="img/s1.png" class="min-s" data-num="0" alt="">
            <img src="img/s2.png" class="min-s" data-num="1" alt="">
            <img src="img/s3.png" class="min-s" data-num="2" alt="">
            <img src="img/s4.png" class="min-s" data-num="3" alt="">
        
    </div> 
   
    <div class="product-item__r">
        <div class="product-item__r__line1">
            <p><img src="img/icons/ok.svg" alt="">Есть в наличие</p>
            <p>Код: 116407/1</p>
        </div>
        <div class="product-item__r__name">
            <p>Туфли с перфорацией</p>
            <h3>2900 UAH</h3>
        </div>
        <div class="product-item__r__size">
            <div class="pirs-line1">
                <p>Размеры:</p>
                <a href="" >Узнать свой размер</a>
            </div>
            <div class="pirs-btn">
                <div class="size-btn">
                    <button active >40</button>
                </div>
                <div class="size-btn">
                    <button active >40</button>
                </div>
                <div class="size-btn">
                    <button active >40</button>
                </div>
                <div class="size-btn">
                    <button active >40</button>
                </div>
                <div class="size-btn"  >
                    <button disabled >40</button>
                </div>
                <div class="size-btn">
                    <button active >40</button>
                </div>
            </div>
        </div>
        <div class="product-item__r__btn">
            <div class="main">
                <button  class="myBtn" data-toggle="modal" data-target="#item-buy" >Купить</button>
            </div>
            <div class="mini">
                <button class="myBtn2" data-toggle="modal" data-target="#item" >Узнать отповую цену</button>
                <button class="myBtn2"  data-toggle="modal" data-target="#item-ros" >Купить мелким оптом</button>
            </div>
        </div>
    </div>

</div>
<style>
    .owl-carousel.owl-drag .owl-item{
        display: flex !important;
        justify-content: center !important;
    }
</style>
<!-- CARD END  -->