<!-- MAP BLOCK STYLE 2 -->
<div class="map-block map-block-mob" >
          <div class="map-nav out"   >
            <div class="sub-info" style="max-width: 500px;">
                <div class="sub-line"></div>
                <h5 class="sub-title" >Оптово-розничные магазины</h5>
            </div>
             </div>
        
       
    <div class="map-content"  style="justify-content: flex-end !important; margin-top: 0px;"  >
  
        <div class="map-content__l" style="max-width: 500px;"  >
        
            <div id="tab-1" class="tab-content margin-tab current">
                <div class="tab-con"  >
                    <h4>Киев</h4>
                    <div class="min-map-block">
                        <div class="min-map-block__l">
                            <img src="img/marker.png" alt="">
                            <div class="info-map">
                            <div class="tm-text">
                                Крайняя, 1 <br>
                                ТЦ «Альтаир» <br> <br>
                                9:00 — 17:00 <br>
                                выходной: пн <br>
                            </div>
                        </div>
                        </div>
                        <div class="min-map-block__r">
                            <div class="tm-name">Шестаковский <br> Вячеслав</div>
                            <div class="tm-con"><br>
                                +380 (67) 440-01-85 <br> a.lapin@faber.ua
                            </div>
                        </div>
                    </div>
                    <div class="min-map-block">
                        <div class="min-map-block__l">
                            <img src="img/marker.png" alt="">
                            <div class="info-map">
                            <div class="tm-text">
                                Крайняя, 1 <br>
                                ТЦ «Альтаир» <br> <br>
                                9:00 — 17:00 <br>
                                выходной: пн <br>
                            </div>
                        </div>
                        </div>
                        <div class="min-map-block__r">
                            <div class="tm-name">Шестаковский <br> Вячеслав</div>
                            <div class="tm-con"><br>
                                +380 (67) 440-01-85 <br> a.lapin@faber.ua
                            </div>
                        </div>
                    </div>
               
                </div>
            </div>
            <div id="tab-2" class="tab-content margin-tab">
                <div class="tab-con">
                    <h4>Одесса</h4>
                    <div class="min-map-block">
                        <div class="min-map-block__l">
                            <img src="img/marker.png" alt="">
                            <div class="info-map">
                            <div class="tm-text">
                                Крайняя, 1 <br>
                                ТЦ «Альтаир» <br> <br>
                                9:00 — 17:00 <br>
                                выходной: пн <br>
                            </div>
                        </div>
                        </div>
                        <div class="min-map-block__r">
                            <div class="tm-name">Шестаковский <br> Вячеслав</div>
                            <div class="tm-con"><br>
                                +380 (67) 440-01-85 <br> a.lapin@faber.ua
                            </div>
                        </div>
                    </div>
                    <div class="min-map-block">
                        <div class="min-map-block__l">
                            <img src="img/marker.png" alt="">
                            <div class="info-map">
                            <div class="tm-text">
                                Крайняя, 1 <br>
                                ТЦ «Альтаир» <br> <br>
                                9:00 — 17:00 <br>
                                выходной: пн <br>
                            </div>
                        </div>
                        </div>
                        <div class="min-map-block__r">
                            <div class="tm-name">Шестаковский <br> Вячеслав</div>
                            <div class="tm-con"><br>
                                +380 (67) 440-01-85 <br> a.lapin@faber.ua
                            </div>
                        </div>
                    </div>
                    <div class="min-map-block">
                        <div class="min-map-block__l">
                            <img src="img/marker.png" alt="">
                            <div class="info-map">
                            <div class="tm-text">
                                Крайняя, 1 <br>
                                ТЦ «Альтаир» <br> <br>
                                9:00 — 17:00 <br>
                                выходной: пн <br>
                            </div>
                        </div>
                        </div>
                        <div class="min-map-block__r">
                            <div class="tm-name">Шестаковский <br> Вячеслав</div>
                            <div class="tm-con"><br>
                                +380 (67) 440-01-85 <br> a.lapin@faber.ua
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-content__r"   >
            <div class="map-nav__r" style="align-self: flex-end;">
                <div class="city"  >
                    <li class="cor a-origin first map-a" lat="50.4021702|51.4975504" lng="30.3926087|31.2870258" data-tab="tab-1"   >Киев</li>
                    <li class="cor map-a" lat="46.4911777|46.6518033|46.4911777" lng="30.6633715|32.5857444|30"   data-tab="tab-2" >Одесса</li>
                </div>
             </div> 
            <div id="map" style="height: 550px !important;" > </div>
        </div>
    </div>
</div>
<!-- MAP BLOCK STYLE 2 END -->